* {
  font: 14px/22px 'Microsoft YaHei', Simsun, Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  cursor: default;
  min-width: 600px;
}

/* The header */
#header {
  background: url(popup_res.png) repeat-x 0 0;
  border-bottom: #888 solid 1px;
  font-weight: normal;
  height: 35px;
}
#header h1 {
  background: url(popup_res.png) no-repeat 3px -43px;
  color: #ccc;
  line-height: 34px;
  padding-left: 35px;
}
/* Page list item base style. */
.commonList > li {
  background: url(popup_res.png) no-repeat 0 -79px;
  border-bottom: #ccc dashed 1px;
  list-style: none;
  padding: 7px 7px 7px 20px;
  -webkit-border-radius: 6px;
  -webkit-transition: all 300ms ease-in-out;
}
.commonList a,
.commonTable a {
  text-decoration: none;
}
.commonList a:link,
.commonList a:visited,
.commonTable a:link,
.commonTable a:visited {
  color: #003ba6;
}
.commonList a:hover,
.commonList a:active,
.commonTable a:hover,
.commonTable a:active {
  color: #f6480b;
}
