.standards {
	padding-top: 10px;
}
.standards li {
	margin: 10px 20px 30px;
	padding: 0 0 20px 55px;
	border-bottom: 1px solid #DDD;
}
.standards h3 {
	font-size: 150%;
}
.standards p {
	margin: 5px 0;
}
.w3c_standards {
	background: url(../images/icon_standards.gif) no-repeat left top;
}
.glossary {
	background: url(../images/icon_glossary.gif) no-repeat left top;
}
